/*.retry
/playbooks/*.retry
/playbooks/test.yml
/tags
vaultpass

!roles/requirements.yml
.vault-pass
.idea
venv/*
.dcignore
.ansible-lint
.yamllint
apt-force-update
parrot.list
requirements.txt
.vscode/*